@font-face {
	font-family: "gordita-regular";
	src: local("gordita-regular"), local("gorditaregular"), url('/fonts/gordita-regular.woff2') format('woff2'), url('/fonts/gordita-regular.woff') format('woff');
}
@font-face {
	font-family: "gordita-medium";
	src: local("gordita-semibold"), local("gorditamedium"), url('/fonts/gordita-medium.woff2') format('woff2'), url('/fonts/gordita-semibold.woff') format('woff');
}
@font-face {
	font-family: "gordita-bold";
	src: local("gordita-bold"), local("gorditabold"), url('/fonts/gordita-bold.woff2') format('woff2'), url('/fonts/gordita-bold.woff') format('woff');
}

//-- regular --//
@mixin font-gordita-regular {
	font-family: "gordita-regular", sans-serif;
	font-style: normal;
	font-display: swap;
}
//-- semi bold --//
@mixin font-gordita-medium {
	font-family: "gordita-medium", sans-serif;
	font-style: normal;
	font-display: swap;
}
//-- bold --//
@mixin font-gordita-bold {
	font-family: "gordita-bold", sans-serif;
	font-style: normal;
	font-display: swap;
}