//-- pt serif --//
@mixin font-pt-serif {
	font-family: "PT Serif";
	font-weight: 400;
}
@mixin font-pt-serif-italic {
	font-family: "PT Serif";
    font-weight: 400;
    font-style: italic;
}
@mixin font-pt-serif-bold {
	font-family: "PT Serif";
	font-weight: 700;
}
@mixin font-pt-serif-bold-italic {
	font-family: "PT Serif";
	font-weight: 700;
	font-style: italic;
}

// pt sans
@mixin font-pt-sans {
	font-family: "PT Sans";
	font-weight: 400;
}
@mixin font-pt-sans-italic {
	font-family: "PT Sans";
    font-weight: 400;
    font-style: italic;
}
@mixin font-pt-sans-bold {
	font-family: "PT Sans";
	font-weight: 700;
}
@mixin font-pt-sans-bold-italic {
	font-family: "PT Sans";
	font-weight: 700;
	font-style: italic;
}


