// main wrapper
.grid-w {
  max-width: 1600px;
  width: 85vw;
  margin: 0 auto;
}
// grid row
.grid-r {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-gap: 3.2%;
  margin-bottom: 2rem;
}
// create all grid column items
@for $item from 1 to 17 {
  .grid-c-#{$item} {
    grid-column: span $item;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
  }
}
