@mixin default-text-style {
	font-size: 1.6rem;
	color: $color-black-tundora;
}


@mixin headline-1{
	@include fluid-type($grid-min-width, $grid-max-width, 40px, 90px);
	margin-top: 2rem;
	margin-bottom: 3rem;
}
h1,
h2,
.headline-2,
h3,
.headline-3,
h4 {
  @include font-pt-serif;
	color: $color-black-tundora;
}
h1 {
  @include headline-1;
	p{
		@include headline-1;
	}
}
h2,
.headline-2 {
	font-size: clamp(4rem, 6vw, 5rem);
	margin-top: 1.8rem;
	margin-bottom: 3rem;
}
h3,
.headline-3 {
	font-size: 3rem;
}
h4 {
	font-size: 2.4rem;
}

b,
strong {
	@include font-pt-serif-bold;
}
i{
@include font-pt-serif-italic;	
}
p {
	@include default-text-style;
}
p a {
	@include default-text-style;
}
ul li,
ol li {
	@include default-text-style;
}
blockquote {
}
a {
	@include default-text-style;
	text-decoration: none;
}
